[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
MemoryCaptures/
Recordings/
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.unityproj
*.log
*.DS_Store
Thumbs.db
*.unitypackage
*.ulf
.env
.env.*
*.slnx
